In [1]:
import pandas as pd

In [2]:
file1_name = 'input1.cs'
file1_path = 'input/' + file1_name

file1 = open(file1_path, 'r')
file1_text = file1.read()
file1.close()

In [20]:
file2_name = 'input2.cs'
file2_path = 'input/' + file2_name

file2 = open(file2_path, 'r')
file2_text = file2.read()
file2.close()

In [21]:
# text to dataframe
df1 = pd.DataFrame(file1_text.splitlines())
df1[:5]

                                   0
0                      using System;
1          using System.Collections;
2  using System.Collections.Generic;
3              using AccelByte.Core;
4            using AccelByte.Models;

In [22]:
# text to dataframe
df2 = pd.DataFrame(file2_text.splitlines())
# remove spaces
df2[0] = df2[0].apply(lambda code: code.strip())
df2[:5]

                                                   0
0  private LeaderboardEssentialsWrapper\_Starter ...
1
2                               private void Start()
3                                                  {
4                                                ...

In [23]:
# search code per line
def search(desiredCode, df):
    if '{' in desiredCode or '}' in desiredCode or desiredCode == '':
        #print(desiredCode)    
        return None
    for index, code in enumerate(df[0]):
        if desiredCode in code:
            #print(desiredCode)
            return index
    return None

df1_same_index = []
df2_same_index = []
for index, code in enumerate(df2[0]):
    found_index = search(code, df1)
    if found_index != None:
        df1_same_index.append(found_index)
        df2_same_index.append(index)
    #print(found_index)

In [24]:
outdf1 = df1.copy()
outdf2 = df2.copy()

for index in df1_same_index:
    outdf1.loc[index, 0] = '//' + df1[0][index]
    
for index in df2_same_index:
    outdf2.loc[index, 0] = '//' + df2[0][index]

In [25]:
filepath1 = 'output/comparator/out1_' + file1_name

outfile1 = open(filepath1, 'w')
codetext1 = outdf1[0].str.cat(sep='\n')
outfile1.write("%s" % codetext1)
outfile1.close()

In [26]:
filepath2 = 'output/comparator/out2_' + file2_name

outfile2 = open(filepath2, 'w')
codetext2 = outdf2[0].str.cat(sep='\n')
outfile2.write("%s" % codetext2)
outfile2.close()